.bg-foot {
    background-color: black;
    color: white;
}

.foot-link{
    color: lightgray !important;
    font-weight: 500 !important;
    position: relative !important;
    text-decoration: none;
}

.foot-link:hover{
    color: white !important;
    font-weight: 700 !important;
}

.bi:hover {
    cursor: pointer;
}