.carousel-img {
    height: 600px;
    width: 100vw;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
}

.carousel-caption {
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
}

.main-container{
    margin: 30px;
    text-align: center;
    text-decoration: underline;
}

@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space:nowrap;
}

.logos:hover .logos-slider {
    animation-play-state: paused;
} 

.logos-slider {
    display: inline-block;
    animation: 25s slider infinite linear;
}

.logos-slider img {
    height: 250px;
    margin: 0 40px;
}