.carousel-img {
    height: 650px;
    width: 100vw;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
}

.carousel-caption {
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
}

.main-container{
    margin: 30px;
    text-align: center;
    text-decoration: underline;
}

@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space:nowrap;
}

.logos:hover .logos-slider {
    animation-play-state: paused;
} 

.logos-slider {
    display: inline-block;
    animation: 25s slider infinite linear;
}

.logos-slider img {
    height: 250px;
    margin: 0 40px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-img {
        height: 450px;
    }

    .logos-slider img {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .carousel-img {
        height: 350px;
    }

    .logos-slider img {
        height: 100px;
    }

    .carousel-caption h3{
        font-size: 17px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .carousel-img {
        height: 250px;
    }

    .logos-slider img {
        height: 100px;
    }

    .carousel-caption h3{
        font-size: 17px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}